.bgTierS{
    background-color: rgb(42, 165, 155);
}
.bgTierS2{
    background-color:rgb(84, 150, 139);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bgTierS3{
    background-color: rgb(22, 103, 109);
}

.bgTierS4{
    background-color: rgb(84, 150, 139);
}

.bgTierS5{
    background-color: rgb(22, 103, 109);
    justify-content: center; /* Alineación horizontal */
    align-items: center; /* Alineación vertical */
}

.myFont{
    margin: 3rem;
    margin-left: 0rem;
    margin-right: 1.5rem;
    color: aliceblue;
}

.myTitle{
    font-weight: bold;
    font-size: 1.25rem;
    margin: 3rem;
    margin-left: 0rem;
    margin-right: 1.5rem;
    color: aliceblue;
}

.myFontText{
    color: aliceblue;
    padding: 1rem;
    padding-bottom: 0rem;
}

.btn:hover {
    border-color: #248d82 !important;
    background-color: #22b19e !important;
}