body {
    font-family: Arial, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    /* background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff; */
}

.tierS {
    background-color: #FF7F7F;
    text-align: center;
    display: flex;
    justify-content: center; /* Alineación horizontal */
    align-items: center; /* Alineación vertical */
}

.tierA {
    background-color: #FFDF7F;
    text-align: center;
    display: flex;
    justify-content: center; /* Alineación horizontal */
    align-items: center; /* Alineación vertical */
}

.tierB {
    background-color: #BFFF7F;
    text-align: center;
    display: flex;
    justify-content: center; /* Alineación horizontal */
    align-items: center; /* Alineación vertical */
}

.imagenCarta {
    /* max-width: 100rem;
    max-height: 100rem;
    min-width: 100rem;
    min-height: 100rem; */
    justify-content: center;
    align-items: center;
}
.myTitle{
    color: aliceblue;
    text-align: justify;
}

.myText{
    color: aliceblue;
    text-align: center;
}

.mainTitle{
    justify-content: center;
    color: rgb(4, 44, 0);
    font-size: 2rem;
    padding-bottom: 3rem;
    font-weight: bold;
}

.sep{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.sepLat{
    margin-right: 8vw;
    margin-left: 8vw;
}

.fila{
    background-color: rgb(54, 54, 54);
}

.myLink{
    outline: none;
    text-decoration: none;
    color: #ffe48a;
}

.myLink2{
    outline: none;
    text-decoration: none;
}

.myLink:hover{
    outline: none;
    text-decoration: none;
    color: #ffae00;
}

.myLinkFoot{
    outline: none;
    text-decoration: none;
    color: #000000;
}

.myLinkFoot:hover{
    outline: none;
    text-decoration: none;
    color: #0066ff;
}

.myButtonIndex:hover {
    border-color: #00e97c !important;
    background-color: #009c68 !important;
    color: rgb(218, 255, 229) !important;
}

.myButtonIndex2:hover {
    border-color: #ca9533 !important;
    background-color: #61340a !important;
    color: rgb(255, 253, 240) !important;
}