body {
    font-family: Arial, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

.tierS {
    background-color: #FF7F7F;
    text-align: center;
    padding: 5rem 0;
}

.tierA {
    background-color: #FFDF7F;
    text-align: center;
    padding: 5rem 0;
}

.imagenCarta {
    max-width: 100rem;
    max-height: 100rem;
    min-width: 100rem;
    min-height: 100rem;
    justify-content: center;
    align-items: center;
}
.myTitle{
    color: aliceblue;
    text-align: justify;
}

.myText{
    color: aliceblue;
    text-align: justify;
}

.mainTitle{
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding-bottom: 3rem;
}

.sep{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.sepLat{
    margin-right: 10rem;
    margin-left: 10rem;
}

.fila{
    background-color: rgb(54, 54, 54);
}

.myLink{
    outline: none;
    text-decoration: none;
    color: #e0acff;
}
.myLink:hover{
    outline: none;
    text-decoration: none;
    color: #ffffff;
}