
.bgTierS{
    background-color: #b87400;
}
.bgTierA2{
    background-color: #fed353;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bgTierS3{
    background-color: #7e4400;
}

.bgTierS4{
    background-color: #fed353;
}

.myFont{
    margin: 3rem;
    margin-left: 0rem;
    margin-right: 1.5rem;
    color: 1E2328;
    text-align: justify;
}

.myTitleA{
    font-weight: bold;
    font-size: 1.25rem;
    margin: 3rem;
    margin-left: 0rem;
    margin-right: 1.5rem;
    color: 1E2328;
}

.myFontText{
    color: 1E2328;
    padding: 1rem;
    padding-bottom: 0rem;
    text-align: justify;
}

.btn:hover {
    background-color: #ffb73b !important;
    color: #7e4400 !important;
}