.bgTierS{
    background-color: brown;
}
.bgTierS2{
    background-color: rgb(223, 109, 109);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bgTierS3{
    background-color: rgb(109, 22, 22);
}

.bgTierS4{
    background-color: rgb(223, 109, 109);
}


.myFont{
    margin: 3rem;
    margin-left: 0rem;
    margin-right: 1.5rem;
    color: aliceblue;
    text-align: justify;
}

.myTitle{
    font-weight: bold;
    font-size: 1.25rem;
    margin: 3rem;
    margin-left: 0rem;
    margin-right: 1.5rem;
    color: aliceblue;
}

.myFontText{
    color: aliceblue;
    padding: 1rem;
    padding-bottom: 0rem;
    text-align: justify;
}

.btn:hover {
    background-color: #ff5050 !important;
}